<!-- custom code -->
{% extends "layouts/form_layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

<!-- custom code -->
{% block title %}
Register page
{% endblock title %}

{% block content %}

<h2 class="fw-bold mb-4 text-warning"><em>Count-on-You!</em></h2>
<h2 class="fw-bold mb-2 text-uppercase text-danger">{{ _('Register') }}</h2>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email, class="form-control form-control-lg mb-4") }}
  {{ render_field_with_errors(register_user_form.password, class="form-control form-control-lg mb-4") }}
  {% if register_user_form.password_confirm %}
  {{ render_field_with_errors(register_user_form.password_confirm, class="form-control form-control-lg mb-4") }}
  {% endif %}
  {{ render_field(register_user_form.submit, class="btn btn-lg btn-warning") }}
</form>
{% include "security/_menu_reg.html" %}


{% endblock content %}